.root {
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 16px;
  border-width: 0px;
  border-style: none;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.rootcolors_gray {
  background: #8e8e93;
}
.rootcolors_white {
  background: #ffffff;
}
.rootcolors_blue {
  background: var(--token-KD2dbnusALYm);
}
.rootcolors_black {
  background: #333333;
}
.rootcolors_lightGray {
  background: #f2f2f7;
}
.rootcolors_lightGrayOutline {
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.rootcolors_link {
  padding-left: 0px;
  padding-right: 0px;
}
.rootsize_large {
  padding-left: 16px;
  padding-right: 16px;
}
.rootsize_large > :global(.__wab_flex-container) {
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootsize_large > :global(.__wab_flex-container) > *,
.rootsize_large > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootsize_large > :global(.__wab_flex-container) > picture > img,
.rootsize_large
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 0px;
}
.rootsize_small {
  padding: 6px 8px;
}
.rootsize_narrow {
  padding-left: 6px;
  padding-right: 6px;
}
.rootrounded {
  border-radius: 9999px;
  padding: 8px 20px;
}
.rootstates_active {
  cursor: pointer;
  flex-direction: row;
  background: #eeeeee;
  border-radius: 6px;
  padding: 8px 12px;
}
.rootstates_active > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootstates_active > :global(.__wab_flex-container) > *,
.rootstates_active > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootstates_active > :global(.__wab_flex-container) > picture > img,
.rootstates_active
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.rootrounded_size_large {
  padding: 12px 32px;
}
.root:hover {
  background: #eeeeee;
}
.rootcolors_gray:hover {
  background: #98989d;
}
.rootcolors_blue:hover {
  background: #0a84ff;
}
.rootcolors_black:hover {
  background: #222222;
}
.rootcolors_link:hover {
  background: none;
}
.root:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.freeBox__f5Cbp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBoxshowStartIcon__f5CbppxXb {
  display: flex;
}
.freeBoxiconOnly__f5CbpS0Ovm {
  display: flex;
}
.freeBoxsize_large__f5Cbpsvmxq {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.freeBoxsize_small__f5CbpFgq15 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.slotTargetStartIconcolors_gray {
  color: #ffffff;
}
.slotTargetStartIconcolors_blue {
  color: #ffffff;
}
.slotTargetStartIconcolors_black {
  color: #ffffff;
}
.svg__eop2N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.slotTargetChildren {
  line-height: 24px;
}
.slotTargetChildreniconOnly > *,
.slotTargetChildreniconOnly > :global(.__wab_slot) > *,
.slotTargetChildreniconOnly > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetChildreniconOnly
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetChildreniconOnly > picture > img,
.slotTargetChildreniconOnly > :global(.__wab_slot) > picture > img,
.slotTargetChildreniconOnly
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetChildreniconOnly
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  display: none;
}
.slotTargetChildrencolors_gray {
  color: #ffffff;
}
.slotTargetChildrencolors_blue {
  color: #ffffff;
}
.slotTargetChildrencolors_black {
  color: #ffffff;
}
.slotTargetChildrencolors_link {
  color: var(--token-KD2dbnusALYm);
}
.slotTargetChildrensize_large {
  line-height: 32px;
}
.slotTargetChildrensize_small {
  font-size: 12px;
  line-height: 16px;
}
.rootcolors_link:hover .slotTargetChildrencolors_link > :global(.__wab_text),
.rootcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_expr_html_text),
.rootcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot-string-wrapper),
.rootcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolors_link:hover
  .slotTargetChildrencolors_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.freeBox__e5QG1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBoxshowEndIcon__e5QG1Fnwyx {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.slotTargetEndIconcolors_black {
  color: #ffffff;
}
.slotTargetEndIconcolors_link {
  color: var(--token-KD2dbnusALYm);
}
.svg___3HigG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
