.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  padding: 8px 12px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.svg__voC8Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ZwaLpCuS_Vbj);
  height: 1em;
}
.svg__dm6Au {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ZwaLpCuS_Vbj);
  height: 1em;
}
.svg__sIt1M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ZwaLpCuS_Vbj);
  height: 1em;
}
.svg__x5AeL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ZwaLpCuS_Vbj);
  height: 1em;
}
.svg___9Jisk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ZwaLpCuS_Vbj);
  height: 1em;
}
