.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  min-width: 0;
}
.freeBox___8YAsD {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-width: 0;
  padding: 32px;
}
.svg__xz4W8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e0SwO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__enZwm {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__enZwm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__enZwm > :global(.__wab_flex-container) > *,
.freeBox__enZwm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__enZwm > :global(.__wab_flex-container) > picture > img,
.freeBox__enZwm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.searchButtonsearchOpen:global(.__wab_instance) {
  min-width: 200px;
}
.svg__nZeop {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dg4Mo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.searchInput:global(.__wab_instance) {
  position: relative;
  max-width: 200px;
  display: none;
}
.searchInputsearchOpen:global(.__wab_instance) {
  display: flex;
}
.svg__qTsP3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__uqLPp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__f8DeD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__g3ZKf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.signIn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__k3QAj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eBfZk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.signOut:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__lyApJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ifVxP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___4FLNb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.cartProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg___5Wc3I {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text {
  height: auto;
  width: auto;
}
.svg__lLlMl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
