.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.cartProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.sectionempty {
  left: auto;
  top: auto;
}
.freeBox___6OtWe {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox___6OtWe > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___6OtWe > :global(.__wab_flex-container) > *,
.freeBox___6OtWe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6OtWe > :global(.__wab_flex-container) > picture > img,
.freeBox___6OtWe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6OtWe {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6OtWe > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6OtWe > :global(.__wab_flex-container) > *,
  .freeBox___6OtWe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6OtWe > :global(.__wab_flex-container) > picture > img,
  .freeBox___6OtWe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox___1B6Em {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___1B6Em > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___1B6Em > :global(.__wab_flex-container) > *,
.freeBox___1B6Em > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1B6Em > :global(.__wab_flex-container) > picture > img,
.freeBox___1B6Em
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBoxempty___1B6Emo5Y58 > :global(.__wab_flex-container) {
  align-items: flex-start;
}
.text__iqzSj {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  text-align: center;
}
.textempty__iqzSjo5Y58 {
  width: 100%;
  min-width: 0;
}
.cartItem:global(.__wab_instance) {
  position: relative;
}
.cartItemempty:global(.__wab_instance) {
  display: none;
}
.freeBox__tqb2F {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tqb2F > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__tqb2F > :global(.__wab_flex-container) > *,
.freeBox__tqb2F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tqb2F > :global(.__wab_flex-container) > picture > img,
.freeBox__tqb2F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__doRrm {
  text-align: center;
}
.textempty__doRrMo5Y58 {
  text-align: left;
}
.svg__l05Mm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2F2CQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__bWo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i0OoV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__cHmK8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__cHmK8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__cHmK8 > :global(.__wab_flex-container) > *,
.freeBox__cHmK8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cHmK8 > :global(.__wab_flex-container) > picture > img,
.freeBox__cHmK8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__v36ZF {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  background: #333333;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__v36ZF > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__v36ZF > :global(.__wab_flex-container) > *,
.freeBox__v36ZF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v36ZF > :global(.__wab_flex-container) > picture > img,
.freeBox__v36ZF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__as91Y {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__abSwy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__abSwy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__abSwy > :global(.__wab_flex-container) > *,
.freeBox__abSwy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__abSwy > :global(.__wab_flex-container) > picture > img,
.freeBox__abSwy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jl38J {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__rUfYg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text__gv35Q {
  color: #ffffff80;
}
.freeBox__lRwFi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text___2AZaF {
  color: var(--token-qxEzvAW8ZeL8);
  text-align: right;
  font-weight: 600;
}
.freeBox__pAftd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text___9V7Jn {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__jcqT {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.freeBox__n6V5G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__tbOhl {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__doPpD {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text___8AwjR {
  color: #ffffff;
  text-align: right;
  font-weight: 600;
}
.button__wWuAu:global(.__wab_instance) {
  position: relative;
}
.svg___1LnRn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__nmTli {
  text-align: center;
  text-decoration-line: underline !important;
  color: #ffffff;
}
.svg___2SAj9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.freeBox__mDmIc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__iTnuH {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__b7Uu7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text__ivrgw {
  color: #ffffff;
  text-align: right;
  font-weight: 600;
}
.button__nfmbI:global(.__wab_instance) {
  position: relative;
}
.svg__moUkC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__wz5YY {
  width: 100%;
  text-align: center;
  height: auto;
  min-width: 0;
}
.svg___0X3T8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__zjMi7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__zjMi7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zjMi7 > :global(.__wab_flex-container) > *,
.freeBox__zjMi7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zjMi7 > :global(.__wab_flex-container) > picture > img,
.freeBox__zjMi7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg {
  position: relative;
  object-fit: cover;
  color: #ffffff80;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__k1H9J {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__xMc81 {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 32px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__xMc81 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__xMc81 > :global(.__wab_flex-container) > *,
.freeBox__xMc81 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xMc81 > :global(.__wab_flex-container) > picture > img,
.freeBox__xMc81
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__wC3H {
  position: relative;
  left: auto;
  top: auto;
  width: 48px;
  flex-shrink: 0;
}
.img__twxhN {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__hGpGm {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__pI0B5 {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.freeBox__gIQF {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: var(--token-qxEzvAW8ZeL8);
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__gIQF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__gIQF > :global(.__wab_flex-container) > *,
.freeBox__gIQF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gIQF > :global(.__wab_flex-container) > picture > img,
.freeBox__gIQF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gIQF {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gIQF > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gIQF > :global(.__wab_flex-container) > *,
  .freeBox__gIQF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gIQF > :global(.__wab_flex-container) > picture > img,
  .freeBox__gIQF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__oYf7 {
  position: relative;
  object-fit: cover;
  height: 32px;
}
.img__oYf7 > picture > img {
  object-fit: cover;
}
.freeBox__xiXgm {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__xiXgm > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xiXgm > :global(.__wab_flex-container) > *,
.freeBox__xiXgm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xiXgm > :global(.__wab_flex-container) > picture > img,
.freeBox__xiXgm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xiXgm {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xiXgm > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xiXgm > :global(.__wab_flex-container) > *,
  .freeBox__xiXgm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xiXgm > :global(.__wab_flex-container) > picture > img,
  .freeBox__xiXgm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__xdXfZ {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xdXfZ {
    text-align: center;
  }
}
.button__eWfvb:global(.__wab_instance) {
  position: relative;
}
.svg__kHpag {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yhqn9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
